body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.container{
    background-color: aliceblue;
    padding: 1em;
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    border-radius: 1em;
    border: 2px solid #000;
}

@media(max-width: 768px){
    .container{
        max-width: 100%;
        height: auto;
    }
    div {
        margin: auto;
        width: 20vw;
        height: 20vh;
    }
    div>button{
        width: 100%;
        margin-bottom: 2em;
    }
}