body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que a altura do body seja igual à altura da viewport */
}

.container {
    background-color: aliceblue;
    padding: 1em;
    width: 600px;
    text-align: center;
    border-radius: 1em;
    border: 2px solid #000;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        width: auto;
        padding: 0.5em;
    }
    div {
        width: 80vw;
        height: 20vh;
    }
    div>button {
        width: 100%;
        margin-bottom: 1em;
    }
}
